iniconfig==2.1.0
mypy_extensions==1.1.0
packaging==25.0
pathspec==0.12.1
-e git+https://github.com/pawximity/pawgrate.git@7f6f549aa9e753d8c004852baeae8f5cc88ee1cf#egg=pawgrate
platformdirs==4.3.8
pluggy==1.6.0
Pygments==2.19.2
pytest==8.4.1
PyYAML==6.0.2
yapf==0.43.0